@page
@model NB.Candle.WebRzorPage.Pages.ContactUsModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="bg-white rounded-3 p-3">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="d-flex align-items-center justify-content-center flex-wrap border border-light rounded-3 p-2" >
                        <img class="rounded-3 bg-transparent w-100" style="height:50px;object-fit:contain" src="~/images/common/instagram-logo.png" />
                        <span class="d-block x-small text-center w-75 mt-3" >ما را در اینستاگرام دنبال کنید تا از جدیدترین خبر ها و تصاویر و آموزش ها بهره مند شوید</span>
                        <a href="https://www.instagram.com/nbcandle/" class="w-100 d-block small btn btn-primary mt-2">دنبال کنید!</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="d-flex align-items-center justify-content-center flex-wrap border border-light rounded-3 p-2 h-100">
                        <img class="rounded-3 bg-transparent w-100" style="height:50px;object-fit:contain" src="~/images/common/whatsapp-logo.png" />
                        <span class="d-block x-small text-center w-75 mt-3">ما را در واتساپ در ارتباط باشید . پاسخگویی به سوالات در واتساپ.</span>
                        <span  class="w-100 text-primary fw-bold d-block text-center">09124449999</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>