@page
@model NB.Candle.WebRzorPage.Pages.ResetPasswordConfimationModel
@{
}
<div class="d-flex justify-content-center align-items-center w-100">
    <div class="bg-white rounded-3 p-3 w-100">
        <span class="d-block w-100 border-bottom border-light pb-2 small fw-bold text-start">تغیر رمز</span>
        <p class="mt-2 small ">رمز عبور شما با موفقیت تغیر یافت.</p>
        <a href="login" class="btn btn-primary small">ورود کاربر</a>
    </div>

</div>
